/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Base Styles */
html {
  font-size: 1.25em;/* 20 / 16 = 1.25 */
  line-height: 1.2em;/* 24 / 20 = 1.2 */
  font-family: Helvetica, sans-serif;
  background: #FFFFFF;
  color: #000000;
}

body {  
}

main {
}

img,
video,
audio {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 1.5em;/* 30 / 20 = 1.5 */
  line-height: 1.6em;/* 48 / 30 = 1.6 */
}

h2 {
  font-size: 1.25em;/* 25 / 20 = 1.25 */
  line-height: 1.44em;/* 36 / 25 = 1.44 */
}

header {
  background-color: grey;
  text-align: center;
  border-bottom: 2px #000 solid;
  color: #FFFFFF;
}

footer {
  margin-top: 25px;
  color: #98999B;
  text-align: center;
}

strong {
  font-weight: bold;
}

/* Layout Styles */

/* Movie Grid
      640px 3-column grid
      Columns: 200px;
      Gutters: 20px;
      Poster module (Col 1): 200px;
      Description module (Col 2-3): 420px;
*/

/* Modular Styles */

#landing {
  background-color: black;
  color: white;
  text-align: left;
  font-family: Acme, sans-serif;
}

#movies {
  padding-left: 0.6em;/* 12 / 20 = 0.6 */
  padding-right: 0.6em;/* 12 / 20 = 0.6 */
  padding-top: 1em; 
}

#movies ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 10px 20px;
}

#movies img {
  margin-left: auto;
  margin-right: auto;
  min-width: 100px;
  border-radius: 2px;
  border-color:black;
}

#movies img:hover{
    opacity: 0.7;
  }

#movies figcaption {
  margin-top: 10px;
  text-align: center;
}

#movies a{
  text-decoration: none;
  color: #000000;
}

/* State Styles */

@media only screen and (min-width: 700px) {
  #movies ul {
      grid-template-columns: 1fr 1fr 1fr;
  }
  
  #movies img{
    max-width: 200px;
  }
  
  header h1{
    text-align: left;
    margin-left:30px; 
  }
}

@media only screen and (min-width: 1280px) {  
  #landing {
    padding-left: 20%;
    padding-right: 20%;
  }
  #movies {
    padding-left:20%;
    padding-right:20%;
  }
  
  #movies img{
    max-width: 250px;
  }
}

@media only screen and (min-width: 1920px) {  
  #movies img{
    max-width: 300px;
  }
}