/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,figcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* Base Styles */
html {
  font-size: 1.25em;/* 20 / 16 = 1.25 */
  line-height: 1.2em;/* 24 / 20 = 1.2 */
  font-family: Helvetica, sans-serif;
  background-image: url(../media/gplaypattern_@2X.png);
  background-repeat: repeat;
}

body {
}

main {
}

img,
video,
audio {
  display: block;
  max-width: 100%;
}

h1 {
  font-size: 1.5em;/* 30 / 20 = 1.5 */
  line-height: 1.6em;/* 48 / 30 = 1.6 */
}

h2 {
  font-size: 1.25em;/* 25 / 20 = 1.25 */
  line-height: 1.44em;/* 36 / 25 = 1.44 */
}

header {
  background-color: black;
  text-align: center;
  color: #FFFFFF;
  padding: 15px 0 15px 0;
}

footer {
  margin-top: 25px;
  color: #98999B;
  text-align: center;
}

strong {
  font-weight: bold;
}

aside.return {
  background-color: #262626;
  color: white;
  font-family: 'PT Sans', sans-serif;
  padding: 1em 1em;
  border-bottom: 10px #FF6200 solid;
}
aside.return a {
  color: white;
  text-decoration-color: rgb(156, 60, 0);
}
aside.return li {
  color: #FF6200;
  display: inline-block;
}
aside.return li:nth-child(1) {
  margin: 0 0.5em;
}
aside.return li:nth-child(n+3)::before {
  content: '\2039';
  margin: 0 0.5em 0 0.25em;
}

/* Layout Styles */

.poster {
  margin: auto;
  max-width: 160px;
  border-radius: 5px;
  border: 1px #FF6200 solid;
  -webkit-box-shadow: -1px 2px 18px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 18px -2px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 18px -2px rgba(0,0,0,0.75);
  transition: .5s ease;
}

.poster:hover {
  opacity: 0.5;
}

.purchase-poster {
  margin: auto;
  margin-top: 10px;
  margin-bottom: 20px;
  max-width: 220px;
  border-radius: 3px;
  -webkit-box-shadow: -1px 2px 18px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 18px -2px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 18px -2px rgba(0,0,0,0.75);
  transition: .5s ease;
}

.movie-title {
  text-align: center;
}

.movie-meta {
  text-align: center;
}

.card {
  background-color: #262626;
  color: #FFF;
  border-radius: 2px;
  padding: 20px;
  -webkit-box-shadow: -1px 2px 18px -2px rgba(0,0,0,0.75);
  -moz-box-shadow: -1px 2px 18px -2px rgba(0,0,0,0.75);
  box-shadow: -1px 2px 18px -2px rgba(0,0,0,0.75);
  margin-bottom: 15px;
}

.card h3 {
  font-size: 22px;
  margin-bottom: 10px;
}

.card p {
  font-size: 16px;
}

.card ol li {
  margin-bottom: 10px;
}

.card ol li ol {
  margin-top: 10px;
}

/* Modular Styles */

#landing {
  background-color: #262626;
  color: white;
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
  padding: 20px 10px 20px 20px;
  margin: auto;
  text-align: center;
  border-bottom: 10px #FF6200 solid;
}

#landing h1, #landing h2{
  vertical-align:middle;
}

#landing img {
  vertical-align: middle;
  float: left;
  width: 80px;
}

#movies {
  padding-left: 0.6em;/* 12 / 20 = 0.6 */
  padding-right: 0.6em;/* 12 / 20 = 0.6 */
  padding-top: 1em; 
}

#movies ul {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: row;
  grid-gap: 30px 15px;
}

#movies figcaption {
  margin-top: 10px;
  text-align: center;
}

#movies a{
  text-decoration: none;
  color: #000000;
}

#info_section{
  padding-left: 0.6em;/* 12 / 20 = 0.6 */
  padding-right: 0.6em;/* 12 / 20 = 0.6 */
  padding-top: 1em;
}

#info_section ol ol a{
  padding: 5px;
  background-color: #FF6200;
  color: #FFFFFF;
  text-decoration: none;
  border-radius: 3px;
  -webkit-box-shadow: 22px 22px 23px -17px rgba(0,0,0,0.4);
  -moz-box-shadow: 22px 22px 23px -17px rgba(0,0,0,0.4);
  box-shadow: 22px 22px 23px -17px rgba(0,0,0,0.4);
}

#movie-info {
  margin-bottom: 15px;
}

/* State Styles */

@media only screen and (min-width: 700px) {
  
  #movies ul {
      grid-template-columns: 1fr 1fr 1fr;
  }
  
  .poster{
    max-width: 200px;
  }
  
  #landing img {
    float: none;
    margin: auto;
  }
  
}

@media only screen and (min-width: 1280px) {
  
  #landing {
    padding-left: 20%;
    padding-right: 20%;
  }
  
  #movies {
    padding-left:20%;
    padding-right:20%;
  }
  
  .purchase-poster {
    max-width: 250px;
  }
  
  #info_section {
    display: grid;
    grid-template-columns: 0.4fr 0.6fr;
    grid-gap: 30px 15px;
    padding-left:20%;
    padding-right:20%;
  }
  
  #info_section #movie-info {
    grid-column: 1;
    grid-row: 1;
  }
  
  #info_section #plot-summary {
    grid-column: 2;
    grid-row: 1;
    height: fit-content;
  }
  
  #info_section #time {
    grid-column: 1;
    grid-row: 2;
    height: fit-content;
  }
  
  .poster{
    max-width: 200px;
  }
  
}

@media only screen and (min-width: 1920px) {
  .poster{
    max-width: 220px;
  }
}